* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #000;
}

.admin {
    width: 1105px;
    height: 431px;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #d9d9d9;

    border: 1px solid #000;
    border-radius: 50px;

    position: relative;
}

.admin h1 {
    margin: 12px 0 39px 0;

    font-weight: 700;
    font-size: 37px;
}

.admin h2 {
    margin-top: 10px;

    color: #4e4e4e;
}

.block {
    display: flex;
    gap: 10px;
}

.elem {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 22px;
}

.elem div,
.elem textarea,
.elem select {
    height: 36px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #fff;

    border: 1px solid #767676;
    border-radius: 10px;

    outline: none;

    cursor: default;

    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #000;
}

.full_name div {
    width: 216px;
}

.num_app div {
    width: 105px;
}

.gov_num div {
    width: 148px;
}

.description textarea {
    width: 316px;

    padding: 5px 0 0 15px;

    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #000;

    resize: none;
    overflow: hidden;
}

.status select {
    width: 215px;

    padding-left: 10px;
}

a {
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #000;

    border-radius: 10px;

    text-decoration: none;
}

#success {
    color: #009900;
}

.buttons {
    width: calc(50% + 64px);

    display: flex;
    justify-content: space-between;

    position: absolute;
    bottom: 32px;
    right: 32px;
}

#btn {
    width: 224px;
    height: 36px;

    background-color: rgba(125, 153, 225, 0.5);

    border: 1px solid #4e6090;
    border-radius: 10px;

    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #000;

    cursor: pointer;
}

#exit {
    width: 85px;
    height: 36px;

    background-color: rgba(226, 130, 130, 0.5);

    border: 1px solid #a77979;
}